<a href="https://colab.research.google.com/github/a-forty-two/eybatch4-27May/blob/main/EY01_IntroToPython_DataStructures.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

General python tutorials- https://www.w3schools.com/python/

In [1]:
# Data Structures

# 4 data structures - List, Tuple, Set, Dictionary

In [2]:
# List is -> ORDERED, INDEXED COLLECTION
# represented by [ ]

#everything is POINTER MANIPULATION!!!
myList = [1, 0, False, True, 3.14, "hello world"]

In [3]:
# ORDERED means that positions are preserved
myList # order of elements will NOT change

[1, 0, False, True, 3.14, 'hello world']

In [4]:
# INDEXED -> refer to it by positions
myList[0], myList[-2] # negative-> right to left, positive-> left to right and starts from 0

(1, 3.14)

In [5]:
# INDEXES also work with ranges
myList[1:3] # from start till end EXCLUDING the end value

[0, False]

In [6]:
myList[1:4] # 1,2,3 will be selected and not 4

[0, False, True]

In [7]:
# TUPLE
# ORDERED and INDEXED, NOT EDITABLE (READ-ONLY)
# represented by ( )

myTup = (1,2,3)
#indexed
print(myTup[-1])
#ordered
print(myTup)

3
(1, 2, 3)

In [8]:
# READONLY -> any change should throw an error
myTup[0] = 'hello world'

TypeError: 'tuple' object does not support item assignment

In [9]:
# SET
# represented by { }

# {apple, banana}, {apple, apple, banana}, {banana, apple}, {banana, apple, banana} -> same sets
# SET -> POSITION doesn't matter, no duplication
# SET is an UNORDERED, UNINDEXED collection

set1 = {1, 2, 3}
set2 = {3, 2, 1}
set3 = {1,1,1,1,1,2,3,3,4,5,3}
print(set1)
print(set2)
print(set3)

{1, 2, 3}
{1, 2, 3}
{1, 2, 3, 4, 5}

In [10]:
myset = { 1, True, False, 0, 3.13, 'hello world', 42, 42, 0, 0, 1, 1}
print(myset)

{False, 1, 3.13, 'hello world', 42}

In [11]:
# INDEXING SHOULD THROW AN EROR
myset[3]

TypeError: 'set' object is not subscriptable

In [13]:
# DICTIONARY
# Set of KEY-VALUE Pairs!
# UNORDERED, but INDEXABLE -> indexes are defined by keys!

dict1 = { "hello" : 42,
         False: 'bye bye world',
          42: 'i am hungry',
          0.14 : True}

# KEYS can be anything, values can be anything!
print(dict1)
print(dict1[0.14])

{'hello': 42, False: 'bye bye world', 42: 'i am hungry', 0.14: True}
True

In [14]:
# add a new value
dict1['blah blah'] = myList
dict1

{'hello': 42,
 False: 'bye bye world',
 42: 'i am hungry',
 0.14: True,
 'blah blah': [1, 0, False, True, 3.14, 'hello world']}